/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  margin: 50px;
}

h2 {
  font-size: 2rem;
}

form {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.row {
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  resize: none;
}

button.btn {
  width: 80px;
  height: 30px;
  cursor: pointer;
}

button.btn + button.btn {
  margin-left: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 5px;
}

li:hover {
  color: pink;
}

.detail {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}